/* .content {
    border: 1px solid darkgray;
    margin: 0;
    padding: 5px;
    width: 200px;
    height: 350px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
  }
  
  img {
    border: 1px solid green;
    display: block;
    width: 100px;
  }
  .image {
    border: 10px solid blue;
    height: 200px;
    display: flex;
    justify-content: center;
  
  }
  hr {
    margin: 10px;
    border: none;
    border-top: 1px darkgrey solid;
  }
  .name-description {
    color: rgb(27, 117, 153);
    display: flex;
    flex-direction: column;
  }
  name {
    font-size: 20px;
    font-weight: normal;
  }
  h2, p {
    margin: 5px;
  }
  .rating {
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
  }
  .pricing {
    display: flex;
    justify-content: center;
  }
  .price {
    border-right: 1px solid grey;
  }
  .price, .installment-plan {
    margin: 5px;
  }
  .price h3, .installment-plan h3 {
    font-weight: 400;
    color: grey;
  }
  .price p, .installment-plan p {
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
  a {
    color: #0089d0;
    text-decoration: none;
    font-weight: 400;
  }
  a:hover {
    text-decoration: underline;
  } */