<app-view-categories> </app-view-categories>
<div class="product-container">
  <div *ngFor="let product of filteredProducts" class="product-card">
    <div *ngFor="let image of product.img">
      <img
        [src]="image"
        [alt]="product.name"
      />
    </div>

    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]"
      >
        {{ product.name }}
      </a>
    </h3>
    <p *ngIf="product.description">
      <span>Description: </span>{{ product.description }}
    </p>
    <p *ngIf="product.price" class="price">
      <span>{{ product.price }} </span> ₸
    </p>

    <ngb-rating
      [max]="5"
      [(rate)]="product.rating"
      [readonly]="true"
    ></ngb-rating>
    <div class="button-container button-row">
      <button type="button" (click)="sharetg(product.name, product.link)">
        Share with Telegram
      </button>
      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>
    </div>
    <button class="likebtn" type="button" (click)="like(product)">
      I like: {{ product.likes }}
    </button>
    <button type="button" class="deletebtn" (click)="delete(product)">
      Delete
    </button>
  </div>
</div>