nav {
    background-color: rgb(172, 205, 252);
    top: 0;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
}

a {
    text-decoration: none;
    padding-left: 10px;
    font-family: monospace;
    font-size: 200%;
}

nav a:hover {
    color: rgb(227, 213, 241);
}