header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  .header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
  
  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header a {
    margin: 0
  }