.content {
    border: 1px solid darkgray;
    margin: 0;
    padding: 5px;
    width: 200px;
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
  }
  
  img {
    /*border: 1px solid green;*/
    display: block;
    width: 100px;
    height: auto;
  }
  .image {
    /*border: 10px solid blue;*/
    /*height: 200px;*/
    display: flex;
    justify-content: center;
  
  }
  hr {
    margin: 13px;
    border: none;
    border-top: 1px darkgrey solid;
  }

  .name-description {
    /*color: rgb(27, 117, 153);*/
    display: flex;
    flex-direction: column;
  }
  name {
    font-size: 20px;
    font-weight: normal;
    justify-content: center;
  }
  h2, p {
    margin: 6px;
  }
  .rating {
    font-size: 14px;
    font-weight: 500;
    margin: 1px;
    text-align: center;
  }
  .pricing {
    display: flex;
    justify-content: center;
  }
  .price {
    border-right: 1px solid grey;
  }
  .price, .installment-plan {
    margin: 6px;
  }
  .price h3, .installment-plan h3 {
    font-weight: 400;
    color: grey;
  }
  .price p, .installment-plan p {
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
  a {
    color: #0089d0;
    text-decoration: none;
    font-weight: 400;
  }
  a:hover {
    text-decoration: underline;
  }

  button {
    padding: 4px 4px;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #1990D2;
  }

  button {
    padding: 4px 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    justify-content: center;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  button:first-child {
    background-color: #0089d0;
    color: white;
  }
  
  button:last-child {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  button:last-child:hover {
    background-color: #0089d0;
  }