body {
  background-color: #ffffff;
}

h1 {
    text-align: center;
  }

.content {
    /*border: 1px solid red;*/
    margin: 0 auto;
    width: 80%;
    display: flex;
    gap: 13px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
}

.button-holder {
  display: flex;
  justify-content: center; /* Центрируем кнопки */
  gap: 16px; /* Отступы между кнопками */
  margin-top: 33px;
  margin-bottom: 33px; /* Добавляем отступ вниз */
  flex-wrap: wrap; /* Позволяем кнопкам переноситься на новую строку при нехватке места */
}

.button-holder button {
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: white;
  color: #1990D2;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-holder button:hover {
  background-color: #f0f0f0;
  color: darkblue;
}